## Export methods
export(
  leaflet,
  leaf,
  toGeoJSON,
  tg,
  getProperties,
  prop,
  styleSingle,
  singles,
  styleGrad,
  grads,
  styleCat,
  cats,
  changes
)

## S3 methods
S3method(print, single.style)
S3method(print, categorized.style)
S3method(print, graduated.style)
