## Exports
export(
  leaflet,
  leaf,
  toGeoJSON,
  tg,
  getProperties,
  prop,
  getTopologies,
  topo,
  styleSingle,
  singles,
  styleGrad,
  grads,
  styleCat,
  cats,
  changes,
  addBaseMap,
  base
)

## Imports
importFrom("brew", "brew")
importFrom("grDevices", "col2rgb", "colors", "rgb")
importFrom("jsonlite", "fromJSON")
importFrom("methods", "is", "slot")
importFrom("utils", "browseURL", "head", "tail")

## S3 methods
S3method(print, leaflet)
S3method(print, single.style)
S3method(print, categorized.style)
S3method(print, graduated.style)
